.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-family: 'Handjet', cursive;
    width: 100px;
    height: 100px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
  }
  .card.click-card{
    cursor: not-allowed;
    pointer-events: none;
  }

  p{
    font-size: large;
  }
  .play-now {
    font-family: 'Handjet', cursive;
    font-weight: bolder;
    animation: bounce 0.5s ease infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  
  
  label{
    font-family: 'Handjet', cursive;
  }
  input{
    font-family: 'Handjet', cursive;
  }
  .time-container {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  .train-label {
    margin-right: 10px; 
  }
 
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .card span {
    font-size: 4em;
  }

.mat-button-like {
    display: inline-block;
    background-color: white;
    color:black;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Handjet', cursive;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
    margin-top: 5px;
  }
  .mat-button-like.play {
    margin-right: 8px;
  }
  .mat-button-like.train {
    margin-right: 8px;
  }
  .mat-button-like:hover {
    background-color:whitesmoke
  }
  .mat-button-like.download {
    margin-top: 12px;
    background-color:transparent;
    box-shadow: none; 
    
  }
  .mat-button-like:focus {
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
  .mat-button-like.disabled-button {
    background-color: whitesmoke;
    cursor: not-allowed;
    pointer-events: none;
  }
  
.table-container {
    position: relative;
    width: 370px; 
    height: 370px; 
  }
.button-container{
    margin-bottom: 20px;
}

.training-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-family: 'Handjet', cursive;
    width: 350px; 
    height: 350px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 241, 241, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    z-index: 1;
    font-family: 'Handjet', cursive;
    border-radius: 8px;
  }
  .container {
    display: flex;
    gap: 20px; 
}



.material-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  

  .material-input-container label {
    font-size: 16px;
    margin-right: 10px;
    width: 100px;
  }
  

  .material-input-container input {
    flex: 1;
    padding: 8px 0;
    border: none; 
    border-bottom: 1px solid #ccc; 
    font-size: 16px;
  }
  

  .material-input-container input:hover,
  .material-input-container input:focus {
    border-color: #c0cdcd;
    outline: none;
  }


  // loading 
  $loading-size: 20px;
  $loading-color: black;
  
  .loading {
    width: $loading-size;
    height: $loading-size;
    border-radius: 50%;
    border: 3px solid $loading-color;
    border-top: 4px solid transparent;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

//download Icon 
.download-icon {
  width: 30px;
  height: 30px;
  background-color: #3498db;
  position: relative;
  
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  &:before {
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #3498db transparent;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  &:after {
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent white transparent;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
  }
}





